<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style Sheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact</title>
</head>

<body>
    <div class="topbar">
        <!--Create a logomark and add it to imgs folder to link-->
        <img id="logomark" src="/Pictures/Placeholderimage.webp">
        <h2>Home</h2>
        <h2>Search</h2>
        <h2>Contact</h2>
        <h2>FAQ</h2>
        <div class="loginbutton">
            <a href="#">Login</a>
        </div>
    </div>
    <div class="contactform">
        <h1>Any Questions or Concerns&#63;</h1>
        <h1>Check <a href="FAQtemplate.html">FAQ</a> first before contacting&#46;</h1>
        <div class="forminfo">
            <form action="contact_information.php">
                <label class="contactheaders" for="name">Name</label>
                <input type="text" size="40" style="height: 30px" id="name" name="fullname" placeholder="">

                <br>

                <label class="contactheaders" for="email">Email</label>
                <input type="text" size="40" style="height: 30px;" id="email" name="electronicmail" placeholder="">

                <br>

                <label class="contactheaders" for="message">Message</label>
                <textarea id="message" name="message" placeholder="" style="height:200px"></textarea>

                <br>

                <input class="contactheaders" style="height: 40px;"  id="sendbutton" type="submit" value="Send">
            </form>
        </div>
    </div>
</body>

</html>