<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style Sheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FAQ</title>
</head>

<body>
    <header>
        <div class="topbar">
            <!--Create a logomark and add it to imgs folder to link-->
            <img id="logomark" src="/Pictures/Placeholderimage.webp">
            <h2>Home</h2>
            <h2>Search</h2>
            <h2>Contact</h2>
            <h2>FAQ</h2>
            <div class="loginbutton">
                <a href="#">Login</a>
            </div>
        </div>
    </header>

    <div class="FAQcontainer">
        <h1>Frequently Asked Questions</h1>
        <br>
        <section class="FAQlist">
            <h3>Forgot my password</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <h3>Forgot my username</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <h3>Are the reviews real&#63;</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <h3>Where can I find local spots&#63;</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <h3>What do the different price ranges indicate&#63;</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <h3>How long will it take for an email back&#63;</h3>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
        </section>
    </div>
</body>

</html>