<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style Sheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<!--PHP forms lead to nothing.-->
<body>
    <header>
        <div class="backgroundimage"></div>
        <div class="topbar">
            <!--Link each topbar header to respective page-->
            <img id="logomark" src="/Pictures/Placeholderimage.webp">
            <h2>Home</h2>
            <h2>Search</h2>
            <h2>Contact</h2>
            <h2>FAQ</h2>
            <div class="loginbutton">
                <a href="#">Login</a>
            </div>
        </div>
    </header>
    <main>
        <div class="searchhome">
            <h1>Unable to find a place to eat&#63;</h1>
            <h1>Explore new restaurants in the area&#33;</h1>
            <div class="searchcontainer">
                <form action="Resulttemplate.html">
                    <div class="searchinputs">
                        <input type="text" id="searchhomebar" style="height: 35px;" size="40px"  placeholder="Search" name="search">
                        <button type="submit" id="submit" value="Search"><i class="fa fa-search"></i></button>
                    </div>    
                </form>
            </div>
        </div>
    </main>
</body>

</html>