<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style Sheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Result</title>
</head>

<body>
    <div class="topbar">
        <!--Create a logomark and add it to imgs folder to link-->
        <img id="logomark" src="/Pictures/Placeholderimage.webp">
        <h2>Home</h2>
        <h2>Search</h2>
        <h2>Contact</h2>
        <h2>FAQ</h2>
        <div class="loginbutton">
            <a href="#">Login</a>
        </div>
    </div>
    <main class="businessinfo">
        <img id="resultimage" src="/Pictures/bingoos.png"> <!--Find an example photo of an SF restaurant-->
        <h3 class="infoheaders">Location</h3>
        <!--Find location of the restaurant-->
        <p></p>
        <h3 class="infoheaders">Hours</h3>
        <!--Find hours of the restaurant-->
        <br>
        <h3 class="infoheaders">Price</h3>
        <img src=""> <!--Create a dollar sign icon-->
    </main>
    <div class="ratingsblock">
        <div id="resultratings">
            <h3>Ratings</h3>
            <img id="ratingchart" src=""> <!--To reduce stress, make an illustration replicating the ratings section-->
        </div>
        <div id="resultreviews">
            <h3>Reviews</h3>
            <img id="userpicture" src=""> <!--Pictogram of default profile picture-->
            <p class="userreview">Lorem Ipsum</p>

            <button id="reviewviewall" type="button">View All</button>
        </div>
    </div>
    <div class="description">
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div class="nextbutton">
            <a href="#">Next</a>
        </div>
    </div>
</body>

</html>