<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style Sheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search</title>
</head>

<body>
    <!--I want to try mainly using images to learn proper padding and blocking-->
    <div class="topbar">
        <!--Create a logomark and add it to imgs folder to link-->
        <img id="logomark" src="/Pictures/Placeholderimage.webp">
        <h2>Home</h2>
        <h2>Search</h2>
        <h2>Contact</h2>
        <h2>FAQ</h2>
        <div class="loginbutton">
            <a href="#">Login</a>
        </div>
    </div>
    <div class="searchmain">
        <input type="text" id="searchbar" size="50" style="height: 34px" placeholder="Search Restaurant" name="search">
        <button type="submit" id="searchsubmit" value="Search"><i class="fa fa-search"></i></button>
        <form action="Resulttemplate.html">
            <div class="restaurantlisting">
                <!--Picture of restaurant-->
                <img class="restaurantimage" src="/Pictures/bingoos.png">
                <!--Name of restaurant-->
                <h3>Restaurant</h3>
                <!--Ratings-->
                <h4>4.5 Stars</h4>
                <h4>San Francisco</h4>
                <!--Just manually put the dollar signs. The typeface will be the styling-->
                <h4>&#36;&#36;</h4>
                <!--Some information can be typed out manually-->
                <h4>Opens until 9:00 PM</h4>
            </div>
            <div class="restaurantlisting">
                <!--Picture of restaurant-->
                <img class="restaurantimage" src="/Pictures/bingoos.png">
                <!--Name of restaurant-->
                <h3>Restaurant</h3>
                <!--Ratings-->
                <h4>4.5 Stars</h4>
                <h4>San Francisco</h4>
                <!--Just manually put the dollar signs. The typeface will be the styling-->
                <h4>&#36;&#36;</h4>
                <!--Some information can be typed out manually-->
                <h4>Opens until 9:00 PM</h4>
            </div>
            <div class="restaurantlisting">
                <!--Picture of restaurant-->
                <img class="restaurantimage" src="/Pictures/bingoos.png">
                <!--Name of restaurant-->
                <h3>Restaurant</h3>
                <!--Ratings-->
                <h4>4.5 Stars</h4>
                <h4>San Francisco</h4>
                <!--Just manually put the dollar signs. The typeface will be the styling-->
                <h4>&#36;&#36;</h4>
                <!--Some information can be typed out manually-->
                <h4>Opens until 9:00 PM</h4>
            </div>
            <div class="restaurantlisting">
                <!--Picture of restaurant-->
                <img class="restaurantimage" src="/Pictures/bingoos.png">
                <div></div>
                <!--Name of restaurant-->
                <h3>Restaurant</h3>
                <!--Ratings-->
                <h4>4.5 Stars</h4>
                <h4>San Francisco</h4>
                <!--Just manually put the dollar signs. The typeface will be the styling-->
                <h4>&#36;&#36;</h4>
                <!--Some information can be typed out manually-->
                <h4>Opens until 9:00 PM</h4>
            </div>
        </form>
    </div>
</body>

</html>